textarea {
  overflow-y: scroll;
  resize: none;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* input and label center */
label {
  display: block;
  float: left;
  width: 130px;
}
